<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="logging" type="BingImageDownloader.Logging.LogSection, BingImageDownloader" allowDefinition="MachineToApplication" restartOnExternalChanges="false"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
        <add name="BingImage" 
             connectionString="Server=172.16.1.162;Database=TeamDB;uid=sa;pwd=P@ssw0rd;Persist Security Info=false;" 
             providerName="System.Data.SqlClient"/>
        <!--
        <add name="BingImage" 
             connectionString="Server=localhost;Database=TestDB;uid=sa;pwd=2012;Persist Security Info=false;" 
             providerName="System.Data.SqlClient"/>
        -->
    </connectionStrings>
    <logging fileName="Log4net.config" defaultLogger="BingImageDownloadLog"/>
</configuration>
