<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <connectionStrings>
        <clear />
        <add name="TeamWorkDB" connectionString="Data Source=172.16.1.162;Initial Catalog=TeamDB;uid=sa;pwd=P@ssw0rd;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <!--Windows 服务信息-->
        <add key="ServiceName" value="AttendanceLoader"/>
        <add key="ServiceDisplayName" value="teamwork AttendanceLoader"/>
        <add key="ServiceDescription" value="工时系统考勤数据读取程序"/>
        <!--考勤信息路径 \\172.16.5.21\c$\KQGL\RecordDB administrator/P@ssw0rd-->
        <!--<add key="AttendancePath" value="\\172.16.5.21\c$\KQGL\RecordDB"/>
        <add key="HistoryDirectory" value="D:\Web\TeamWork\Services\AttendanceInfo\HistoryData"/>-->

        <add key="AttendancePath" value="D:\HD"/>
        <add key="HistoryDirectory" value="D:\HD\HistoryData"/>
        <add key="UserName" value="administrator" />
        <add key="Password" value="P@ssw0rd" />
        <add key="IP" value="172.16.5.21" />
    </appSettings>
</configuration>
